<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('common/head') %> 
  <link rel="stylesheet" href="css/style.css">
  <meta http-equiv="refresh" content="1;<%= url %>" />
  <title>Redirect...</title>
</head>

<body>
  <%- include('common/header') %>
  <section class="section-layout">
    <p class="redirect">
      Redirecting...
      <span class="loader"></span>
    </p>
  </section>
  <%- include('common/footer') %>
</body>

</html>