.section-layout {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.form-layout {
  width: 90%;
}

.form-control {
  height: 4rem;
}

.redirect {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2.25rem;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #047ae7;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 576px) {
  .form-layout {
    flex-direction: column;
  }
}
